@use "src/index" as *;

@include font-face((

  //* src: url((path)/(folder)/(family)-(weight).(suffix)

  /*
    css font-family
    default value is null
  */
  family: sans, // or Sans or SANS
  
  /*
    default value is null
    for direct access to font from the (path), set the value to empty string.
  */
  folder: mySans, // or Sans or SANS
  
  /*
    writing "/" in the end, makes no difference.
    default value is "./fonts"
  */
  path: "./fonts",

  
  /*
    default value is woff2 woff ttf
    learn more about browser support:
    https://www.w3schools.com/css/css3_fonts.asp
  */
  suffixs: eot woff2 woff ttf svg,


  /*
    default value is null
  */
  weights: 100 200 300 400 500 600 700 800 900,

  /*
    print css class'es for the current font.
    default value is false
  */
  printClasses: true,

  /*
    default is "font"
  */
  classPrefix: text,

), (

  /*
    write actual css code hire.
    keep in mind the thos are wraped in a sass map, so seperate with each with (,) not (;).
  */
  font-style: normal,
  display: block,

));