@use "src/index" as *;

@include font-face((
  family:  vazir,
  folder:  vazir-enNum,
  path:    "./fonts",
  suffixs: eot woff2 woff ttf svg,
  weights: 100 200 300 400 500 600 700 800 900,
  printClasses: true,
  classPrefix: text,
),(
  font-style: normal,
  display:    block,
));