@use "sass:string";


// this will debut the font path.
// if path last character was'nt ending with (/) then add (/) to the end of the path.
@function debugPath($path){

  // remove "".
  $path: string.unquote($path);

  // grap last letter/character from path.
  $lc: string.slice($path, -1);

  // checking
  @if $lc != "/"{
    // add (/) to the end of the path.
    $path: string.unquote($path + "/");
  }

  // add "" and return.
  @return string.quote($path);
}


// string replace
@function myStrReplace($string, $search, $replace: "") {

	@if type-of($string) == string {
    
    $index: str-index($string, $search);

    @if $index {
      @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;

  } @else {
    @return null;
  }
}