@use "sass:string";
@import "functions";
@import "mixins";

@mixin font-face($necessaryMap, $optionalMap: null) {
  
  $path:    "./fonts";
  $family:  null;
  $folder:  null;
  $suffixs: woff2 woff ttf;
  $weights: null;
  $printClasses: false;
  $classPrefix: font;

  // assigning values
  @each $key, $value in $necessaryMap {

    @if $key == path    { $path:    $value; }
    @if $key == family  { $family:  $value; }
    @if $key == folder  { $folder:  $value; }
    @if $key == suffixs { $suffixs: $value; }
    @if $key == weights { $weights: $value; }
    @if $key == printClasses { $printClasses: $value; }
    @if $key == classPrefix { $classPrefix: $value; }

  }/// each

  
  // validation
  @if isValid($family) == false {
    @error "font-family is missing or it's not valid";
  }
  @if type-of($path) != string {
    @error "path is missing or its not a string type";
  }
  @if isValid($suffixs) == false {
    @error "suffixs is missing or it's not a valid type";
  }
  /// validation

  @include executeFontFace($weights, $family, $folder, $suffixs, $path, $optionalMap, $printClasses, $classPrefix);

}