@use "sass:map"
@use "lib/functions" as *
@use "lib/type-check" as *
@use "lib/str-replace" as *

@mixin font-face($options)

	$options: validate-required-args($options)
	$dont-print-css-properties: font-family suffixes weights url

	$suffixes: sort-suffixes(map.get($options, suffixes))

	@each $weight-name, $weight-unit in map.get($options, weights)
		$src: null
		$url: map.get($options, url)
		$url: str-replace($url, "<weight>", $weight-name)

		@font-face
			font-family: map.get($options, font-family)
			font-weight: $weight-unit

			@each $suffix in $suffixes
				$mod: suffix_mods(map.get($options, font-family), $suffix)
				$format: suffix_formats($suffix)
				$url: str-replace($url, "<suffix>", $mod)
				
				// we need to have an extra src property for the .eot font format.
				@if $suffix == eot
					src: url(str-replace($url, "?#iefix", ""))
				// @else
				$src: append($src, url($url) format("#{$format}"), comma)

				$url: str-replace($url, $mod, "<suffix>")

			src: $src

			font-style: if(str-index($url, italic), italic, normal)

			// custom extra css properties.
			@each $property, $value in $options
				@if is-list-contain-item($dont-print-css-properties, $property) == false
					#{$property}: #{$value}
